Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-ratelimit==4.1.0
pytest==9.0.2
pytest-django==4.12.0
django-cors-headers==4.9.0
pymemcache==4.0.0
Pillow==11.3.0
python-social-auth==0.3.6
tweepy==4.16.0
facebook-business==23.0.2
oauth2==1.9.0.post1