/* ==================== AUTH PAGES ==================== */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Las variables --primary-color y --secondary-color provienen de style.css */
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

.auth-box {
    background-color: var(--card-bg-color);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-box h2 {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.auth-box form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.auth-box input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.auth-switch {
    margin-top: 1.5rem;
}
